.wrapper {
	background-color: #FFFFFF;
	text-align: center;
}

.header {
	background-color: #000000;
}

.footer {
	background-color: #000000;
}

.navbar {
	font-size: 2rem;
	font-weight: bold;
}

/*.sidebar-collapse .navbar-collapse:before {
	background: #ec8123;
}*/

.navbar-toggler {
	width: 50px;
	height: 100px;
	outline: 0;
	cursor: pointer;
}

strong {
	font-weight: bold;
}

.nav-link {
	color: #ec8123;
}

.red-letter {
	font-family: "Roboto script=all rev=2";
	font-size:4rem;
	font-weight: 300rem;
	font-style: strong;
}

.interview-body {
	text-align:left;
}

.interview-text {

	font-family: "Roboto script=all rev=2";
	font-weight: 300rem;
	font-style: strong;
}

.valerie {
	height:  auto;
	width: 100%;
	border:none;
}

.valerie-blurb {
	text-align:center;
}

.valerie-caption {
	text-align:left;
}

.btn {
	color: #000000;
}

.btn:hover {
	color: #ec8123;
}

.preorder:hover {
	color: #000000;
}

.signup {
	text-align: center;
	margin-top: 5rem;
}
.btn-menu {
	background-color: #FFFFFF;
	color: #246068;
}

.card-title {
	color: #FFFFFF;
}

.card {
	background-color: #000000;
}

.btn-menu:hover {
	background-color: #FFFFFF;
	color: #49848D;
}

.band-icon {
	display: inline-block;
	padding: 0.5rem;
	margin-bottom: 1rem;
	font-size: 1.2rem;
	color: #3268a8;
}

.bandcamp {
	color:#FFFFFF;
	background-color: #3268a8;
}

.bandcamp:hover {
	color:#FFFFFF;
	background-color: #2e7bd9;

}

.icon-container {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.icon-container-bottom {
	display: flex;
	justify-content: center;
	align-items: : flex-end;
}

.nav-icon {
	padding: 0.5rem;
	font-size: 1.6rem;
	color: #ec8123;
}

.nav-icon-tiktok {
	padding: 0.4rem;
	font-size: 1.6rem;
	color: #ec8123;
	margin-bottom: 0.35rem;
}

.page-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.date{
	text-align: right;
}
.credits {
	font-size: 0.8571em;
	text-align: center;
}

.copyright-div {
	text-align: center;
	color: #ec8123;
}

hr.short-hr {
	width: 65%;
	margin: 0 auto;
}

.top {
	text-align: center;
}

.row {
	flex-wrap: nowrap;
}